<ul class="menu">
	<li><a href="{% url 'main' %}">на главную</a></li>
	<li><a href="{% url 'adminapp:user_read' %}"
				 class="{% if request.resolver_match.url_name == 'users' %}active{% endif %}">
				пользователи
			</a>
		</li>
	<li><a href="{% url 'adminapp:category_read' %}"
				 class="{% if 'category' in request.resolver_match.url_name or 'product' in request.resolver_match.url_name %}active{% endif %}">
				категории {% if category %} : {{ category.name }} {% endif %}
			</a>
	</li>
</ul>
